@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500|Roboto:400,500&display=swap');

:root {
    --primary-main: #263238;
    --primary-light: #4f5b62;
    --primary-dark: #000a12;

    --secondary-main: #ffd600;
    --secondary-light: #ffff52;
    --secondary-dark: #c7a500;

    --text-light: #e3e2e1;
    --text-dark: #111;

    --error-background: #9b0000;

    --font_sans_serif: "Montserrat", sans-serif;
    --font_roboto: 'Roboto', sans-serif; 

    --spacing-0: 0;
    --spacing-1: 8;
    --spacing-2: 16;
    --spacing-3: 24;
    --spacing-4: 32;
    --spacing-5: 40;

}

* {
    color: var(--text-light);
}

.bg-primary-main {
    background-color: var(--primary-main); 
}
.bg-primary-main-hover:hover {
    background-color: var(--primary-main); 
}

.bg-primary-light {
    background-color: var(--primary-light); 
}
.bg-primary-light-hover:hover {
    background-color: var(--primary-light); 
}

.bg-primary-dark {
    background-color: var(--primary-dark); 
}
.bg-primary-dark-hover:hover {
    background-color: var(--primary-dark); 
}

.bg-secondary-main {
    background-color: var(--secondary-main); 
}
.bg-secondary-main-hover:hover {
    background-color: var(--secondary-main); 
}

.bg-secondary-light {
    background-color: var(--secondary-light); 
}
.bg-secondary-light-hover:hover {
    background-color: var(--secondary-light); 
}

.bg-secondary-dark {
    background-color: var(--secondary-dark); 
}
.bg-secondary-dark-hover:hover {
    background-color: var(--secondary-dark); 
}
.bg-transparent {
    background-color: transparent;
}


/* text colors */

.text-primary-main {
    color: var(--primary-main); 
}
.text-primary-main-hover:hover {
    color: var(--primary-main); 
}

.text-primary-light {
    color: var(--primary-light); 
}
.text-primary-light-hover:hover {
    color: var(--primary-light); 
}

.text-primary-dark {
    color: var(--primary-dark); 
}
.text-primary-dark-hover:hover {
    color: var(--primary-dark); 
}

.text-secondary-main {
    color: var(--secondary-main); 
}
.text-secondary-main-hover:hover {
    color: var(--secondary-main); 
}

.text-secondary-light {
    color: var(--secondary-light); 
}
.text-secondary-light-hover:hover {
    color: var(--secondary-light); 
}

.text-secondary-dark {
    color: var(--secondary-dark); 
}
.text-secondary-dark-hover:hover {
    color: var(--secondary-dark); 
}

.font-head {
    font-family: var(--font_sans_serif);
}

.font-main {
    font-family: var(--font_roboto);
}

.divider {
    border-bottom: 0.5px solid #fffffff0;
}

.loader {
    height: 2px;
    background: #ffff5220;
    position: relative;
}

.dummy {
    height: 2px;
    background: #00000000;
    position: relative;
}

.loader::before {
    content: "";
    position: absolute;
    width: 20px;
    top: 0px;
    height: 2px;
    background: var(--secondary-dark);
    animation: loading 1s linear infinite;
}

@keyframes loading {
    0% {
        left: 0%;
        width: 0.1%;
    }

    33% {
        left: 33.33%;
        width: 66.66%;
    }
    66% {
        left: 66.66%;
        width: 33.33%;
    }

    100% {
        left: 100%;
        width: 0%;
    }
}

.input, .input:focus, .input:active, .input:hover{
    outline: none;
}

.input {
    border: none;
    border-bottom: 2px solid var(--primary-light);
    transition: all 0.14s ease-in-out;
    font-size: 14px;
}

.input:focus {
    color: var(--secondary-main);
    border-bottom: 2px solid var(--secondary-main);
}