@import url('https://fonts.googleapis.com/css?family=Patrick+Hand&display=swap');
@import url('https://fonts.googleapis.com/css?family=IM+Fell+French+Canon&display=swap');

@font-face {
    font-family: "Guanine";
    src: url('./guanine.ttf');
}

@font-face {
    font-family: "Calligrafiti";
    src: url("./Calligraffiti.ttf");
}

.react-article-source img {
    display: block;
    margin-top: 16px;
    margin-bottom: 16px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    object-fit: cover;
    max-width: 100%;
    text-align: center;
    max-height: 360px;
}

.react-article-source p {
    overflow: hidden;
    overflow-wrap: break-word;
    word-wrap: break-word;
}


.react-article-source blockquote {
    font-family: 'Calligrafiti', cursive;
    /* font-style: italic; */
    /* font-family: 'IM Fell French Canon', serif; */
    padding: 12px;
    font-size: 24px;
    font-weight: 500;
    position: relative;
}

.react-article-source blockquote::before {
    font-family: 'Guanine', cursive;
    content: "\2018";
    position: absolute;
    font-size: 172px;
    font-weight: 100;
    top: 0px;
    left: 0px;
    padding: 0px;
    margin: 0px;
    color: #0000002f;
}