@import url('../../assets/css/theme.css');

.navigation-button {
    background: transparent;
    outline: none;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    vertical-align: top;
    transition-timing-function: ease-in-out;
    transition-delay: 0.24s;
}

.drawer {
    z-index: 100;
    background-color: rgba(0,0,0,0.7);
    top: 0;
    left: 0;
}
